html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

:where(.ant-table) .ant-table-thead > tr > th {
  background-color: #F8F0E5 !important;
  color: #000 !important; /* Warna teks jangan samain sama background */
}

:where(.ant-table) .ant-table-thead > tr > th,
:where(.ant-table) .ant-table-tbody > tr > td {
  border-color: #EADBC8 !important; /* ganti dengan warna yang kamu mau */
}

th.ant-table-cell {
  border-left: 1px solid #EADBC8;
  border-right: none;
}

th.ant-table-cell::before {
  display: none;
}

.custom-card .ant-card-head {
  background-color: #F8F0E5;
  color: #000;
}

.custom-card {
  border-top: none !important;
  border-right: none !important;
  border-left: 1px solid #EADBC8;  /* border kiri */
  border-bottom: 1px solid #EADBC8;
}